body {
  margin: 0;
}

/* Header section */
header {
  font-family: Verdana; sans-serif;
  font-size: 14px;
  font-weight: bold;
  background-color: white;
  border-bottom: 1px solid black;
  margin: 0;
  padding: 0;
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  color: MediumAquamarine;
  padding-left: 20px;
  display: flex;
  align-items: center;
}
.logo span {
  padding: 10px;
}
a {
  color: black;
  padding: 0 10px;
  margin: 2px;
}
nav {
  padding-right: 40px;
}

/* Content section */
main {
  width: 1232px;
  position: relative;
  top: 100px;
  margin: 0 auto 78px auto;
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  flex-grow: 0;
}


p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

/* First column */
.column.large {
  width: 630px;
  display: flex;
  flex-flow: column wrap;
}

/* Stories */
.stories {
  display: flex;
  justify-content: space-between;
}

/* Second/Third columns */
.column.medium {
  width: 300px;
  display: flex;
  flex-direction: column;
}
.column.small {
  width: 240px;
  display: flex;
  flex-direction: column;
}

/* Images */

.image-content {
  display: flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 300px;
}
.main-story {
  background-image: url(./images/img-story-main.png);
  font-size: 40px;
  width: auto;
}
.earth-spin {
  background-image: url(./images/img-story-2.png);
  width: 300px;
}
.cameras {
  background-image: url(./images/img-story-3.png);
  width: 300px
}
.cats {
  background-image: url(./images/img-story-1.png);
  width: 300px;
}

.orca {
  width: 300px;
}
.burger {
  width: 300px;
}
/* Temporary borders */
main {
  border: 1px solid black;
}
article {
  border: 2px solid black;
}
.image-content {
  border: 1px solid black;
}
